<div class="signup-header">
  <h1>Signup as Driver</h1>
  <h2>Drive with us, extend your financial freedom</h2>
</div>

<form [formGroup]="driverForm" (ngSubmit)="onSubmit()" class="driver-form">
  <div class="form-field">
    <input type="text" formControlName="firstName" placeholder="First Name">
  </div>
  <div class="form-field">
    <input type="text" formControlName="middleName" placeholder="Middle Name">
  </div>
  <div class="form-field">
    <input type="text" formControlName="lastName" placeholder="Last Name">
  </div>
  <div class="form-field password-container">
    <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" class="form-control" placeholder="Password">
    <i (click)="togglePasswordVisibility()" [class]="hidePassword ? 'fas fa-eye password-icon' : 'fas fa-eye-slash password-icon'"></i>
  </div>
  <div class="form-field">
    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
    <!-- Conditionally displayed label -->
    <label *ngIf="driverForm.get('confirmPassword')?.touched && driverForm.hasError('notMatched', 'confirmPassword')" class="error-label">
      Passwords do not match
    </label>
  </div>
  <div class="form-field">
    <select formControlName="sex">
      <option value="" disabled selected>Select your sex</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <div class="form-field">
    <input type="text" formControlName="address" placeholder="Address">
  </div>
  <div class="form-field">
    <input type="text" formControlName="carColor" placeholder="Car Color">
  </div>
  <div class="form-field">
    <input type="text" formControlName="carBrand" placeholder="Car Brand">
  </div>
  <button type="submit" [disabled]="!driverForm.valid">Add Driver</button>
</form>
