.top-menu {
  background-color: #333;
  overflow: hidden;
}

.top-menu nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-menu nav ul li {
  margin-right: 20px;
}

.top-menu nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.top-menu nav ul li a svg {
  fill: violet;
}

.top-menu nav ul li a:hover svg {
  fill: #4CAF50;
}
