<mat-tab-group>
  <mat-tab label="Dashboard">
    <!-- Dashboard Content Here -->
    <h2>Dashboard</h2>
    <div class="dashboard">
      <div class="message-bar" *ngIf="notification?.type === 'New trip' || 'General Message'">
        <p style="color: #4CAF50; text-align: center">{{ notification.message }} </p>
        <form [formGroup]="DriverForm" (ngSubmit)="acceptTrip()" class="user-dashboard-form">
          <div class="form-submit">
            <button type="submit" *ngIf="notification?.type === 'New trip'">Accept</button>
            <button type="button" (click)="declineTrip()" *ngIf="notification?.type === 'New trip'">Decline</button>
          </div>
          <div class="form-field" [hidden]="shouldBeHidden">
            <input type="text" [hidden]="shouldBeHidden" formControlName="sex" placeholder="sex">
          </div>
          <div class="form-field" [hidden]="shouldBeHidden">
            <input type="text" [hidden]="shouldBeHidden" formControlName="firstName" placeholder="First Name">
          </div>
          <div class="form-field" [hidden]="shouldBeHidden">
            <input type="text" [hidden]="shouldBeHidden" formControlName="lastName" placeholder="Last Name">
          </div>
          <div class="form-field" [hidden]="shouldBeHidden"><input type="text" [hidden]="shouldBeHidden"
                                                                   formControlName="rating" placeholder="rating"></div>
          <div class="form-field" [hidden]="shouldBeHidden"><input type="text" [hidden]="shouldBeHidden"
                                                                   formControlName="photograph"
                                                                   placeholder="photograph">
          </div>
        </form>
      </div>
      <h2>{{ driver.firstname }}'s Dashboard</h2>
      <div class="username">Username: {{ driver.username }}</div>

      <div class="info-section">

        <div class="recent-trips">
          <h3>Recent Trips</h3>
          <ul>
            <li *ngFor="let trip of recentTrips">{{ trip.destination }} - {{ trip.date }}</li>
          </ul>
        </div>

        <div class="ratings">
          <h3>Ratings <span class="rating"> <i class="fas fa-star" *ngFor="let star of getRatingArray()"></i></span></h3>
        </div>

        <div class="earnings">
          <h3>Total Earnings: {{ driver.totalEarnings | currency }}</h3>
        </div>

        <div class="incoming-payments">
          <h3>Incoming Payments</h3>
          <ul>
            <li *ngFor="let payment of incomingPayments">{{ payment.amount | currency }} - {{ payment.date }}</li>
          </ul>
        </div>

        <div class="tips">
          <h3>Tips: {{ driver.tips | currency }}</h3>
        </div>

        <div class="total-trips">
          <h3>Total Trips: {{ driver.totalTrips }}</h3>
        </div>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Profile">
    <!-- Profile Content Here -->
    <h2>Profile</h2>
    <div class="profile">
      <div class="photo-container">
        <img src="./assets/Adodo_Austin.jpg" alt="Driver's Photo" class="driver-photo">
      </div>
      <div class="info">
        <h2>{{ driver.firstname }} {{ driver.middleName }} {{ driver.lastname }}</h2>
        <p><strong>Username:</strong> {{ driver.username }}</p>
        <p><strong>Car Model:</strong> {{ driver.carModel }}, <strong>Color:</strong> {{ driver.carColor }}</p>
        <p><strong>Vehicle Plate Number:</strong> {{ driver.vehiclePlateNumber }}</p>
        <p><strong>Vehicle Registration Status:</strong> {{ driver.vehicleRegistrationStatus }}</p>
        <p><strong>Registration Status:</strong> {{ driver.registrationStatus }}</p>
        <p>
          <strong>Ratings:</strong>
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <mat-icon>{{ star <= driver.rating ? 'star' : 'star_border' }}</mat-icon>
          </ng-container>
        </p>
        <p><strong>Total Earnings:</strong> {{ driver.totalEarnings | currency }}</p>
        <p><strong>Tips:</strong> {{ driver.tips | currency }}</p>
        <p><strong>Total Trips:</strong> {{ driver.totalTrips }}</p>
        <p><strong>Tax ID:</strong> {{ driver.taxID }}</p>

        <!-- Incoming Payments -->
        <div class="incoming-payments">
          <h3>Incoming Payments</h3>
          <ul>
            <li *ngFor="let payment of incomingPayments">{{ payment.amount | currency }} - {{ payment.date }}</li>
          </ul>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>



