<h2 mat-dialog-title style="text-align: center">Your Driver</h2>
<mat-dialog-content>
  <p>Name: {{ data.name }}</p>
  <img [src]="data.photoUrl" alt="Driver's Photo">
  <p>Phone: {{ data.phoneNumber }}</p>
  <p>Rating:
    <span class="rating">
  <i class="fas fa-star" *ngFor="let star of getRatingArray()"></i>
</span>
  </p>
  <button mat-icon-button (click)="callDriver(data.phoneNumber)">
    <mat-icon>call</mat-icon>
  </button>
  <p>{{ data.message }}</p>
  <p>Total trips: 245</p>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions-centered">
  <button mat-button (click)="closeModal()">OK</button>
</mat-dialog-actions>
<div mat-dialog-actions align="end">
</div>


<!--<div mat-dialog-content class="modal-content">-->
<!--  <h2>{{ data.name }}</h2>-->
<!--  <img [src]="data.photoUrl" alt="Driver's Photo">-->
<!--  <div class="phone-info">-->
<!--    <p>Phone: {{ data.phoneNumber }}</p>-->
<!--    <button mat-icon-button (click)="callDriver(data.phoneNumber)">-->
<!--      <mat-icon>call</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--  <p>Total trips: 245</p>-->
<!--</div>-->
