<div class="dashboard">
  <h2>Welcome to Your Dashboard</h2>

  <section class="book-trip">
    <h3>Book a Trip</h3>
    <!-- Button to show form -->
    <button class="Book" *ngIf="!showForm" (click)="showForm=true">Book</button>
    <!-- Booking form -->
    <form *ngIf="showForm" [formGroup]="UserForm" (ngSubmit)="sendCustomerTripRequest()" class="user-dashboard-form">
      <label for="destination">Destination:</label>
      <div class="form-field location-field" [hidden]="shouldBeHidden">
        <input type="text" [hidden]="shouldBeHidden" formControlName="Location" placeholder="Location">
      </div>
      <div class="form-field">
        <input type="text" id="destination" formControlName="Destination" placeholder="Destination">
      </div>
      <div class="form-field" [hidden]="shouldBeHidden">
        <input type="text" [hidden]="shouldBeHidden" formControlName="sex" placeholder="sex">
      </div>
      <div class="form-field" [hidden]="shouldBeHidden">
        <input type="text" [hidden]="shouldBeHidden" formControlName="firstName" placeholder="First Name">
      </div>
      <div class="form-field" [hidden]="shouldBeHidden">
        <input type="text" [hidden]="shouldBeHidden" formControlName="lastName" placeholder="Last Name">
      </div>
      <div class="form-field" [hidden]="shouldBeHidden"><input type="text" [hidden]="shouldBeHidden"
                                                               formControlName="rating" placeholder="rating"></div>
      <div class="form-field" [hidden]="shouldBeHidden"><input type="text" [hidden]="shouldBeHidden"
                                                               formControlName="photograph" placeholder="photograph">
      </div>
      <div class="form-submit">
        <button type="submit" [disabled]="!UserForm.valid">Book</button>
        <button type="button" (click)="showForm = false">Cancel</button>
      </div>
    </form>
  </section>

  <section class="recent-trips">
    <h3> Recent Trips <span style="float: right" class="rating">Rating: <i class="fas fa-star"
                                                                           *ngFor="let star of getRatingArray()"></i></span>
    </h3>
    <ul>
      <li *ngFor="let trip of recentTrips">
        {{ trip.destination }} - {{ trip.date }} ({{ trip.status }})
      </li>
    </ul>
  </section>

  <section class="favorite-places">
    <h3>Favorite Places</h3>
    <ul>
      <li *ngFor="let place of favoritePlaces">
        {{ place.name }} - {{ place.location }}
      </li>
    </ul>
  </section>

  <section class="payments">
    <h3>Payments</h3>
    <p class="line-indicator"><span style="padding-right: 6px; display: inline-flex; align-items: center;"><img
      [src]="mastercard" alt="Driver's Photo" title="mastercard" style="padding-right: 10px">Card  ****3417<a class="pill"
                                                                                  target="_blank"
                                                                                  rel="noopener"
                                                                                  title="Manage">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="14"
        viewBox="0 -960 960 960"
        width="14"
        fill="currentColor"
      >
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
            />
          </svg>
    </a>
    </span></p>
  </section>

</div>
